---
import MainLayout from '../layouts/MainLayout.astro';
import HeaderLayout from '../layouts/HeaderLayout.astro';
import Card from '../components/Card.astro';
import githubSVG from '../images/github.svg';
import linkedinSVG from '../images/linkedin.svg';
import { projects } from '../resources/projects';
import { hyphenate } from '../utils';
---
<MainLayout title="Hieu Nguyen">
	<HeaderLayout isHomePage>
		<div class="mt-6">
			<h1 class="inline-block text-2xl text-gray-700 welcome-msg font-medium ">Hey, I'm <span class="text-gradient">Hieu</span> <span class="waving-emoji">👋</span></h1>
			<h3 class="text-md mt-2 text-gray-700">I'm a front-end developer</h3>
			<div class="flex mt-4 opacity-70">
				<a target="_blank" href="https://github.com/hieunguyent12" class="social-media-icon"><img src={githubSVG}/></a>
				<a target="_blank" href="https://github.com/hieunguyent12" class="social-media-icon mx-4"><img src={linkedinSVG}/></a>
			</div>
		</div>

		<div class="mt-10">
			<h1 class="text-lg text-gray-700">My Projects 🛠</h1>
			<ul class="link-card-grid mt-2">
				{projects.map(project => <Card title={project.name} href={`/projects/${hyphenate(project.name.toLowerCase())}`} body={project.description}/>)}
			</ul>
		</div>

		<div class="mt-10">
			<h1 class="text-lg text-gray-700">Blog Posts ✏️</h1>
			<ul class="link-card-grid mt-2">
				<Card title="Post 1" href="/" body="This is my project"/>
				<Card title="Post 2" href="/" body="This is my project"/>
				<Card title="Post 3" href="/" body="This is my project"/>
			</ul>
		</div>
	</HeaderLayout>
</MainLayout>

<style>
	:root {
		/* --astro-gradient: linear-gradient(0deg,#4F39FA, #DA62C4); */
		--astro-gradient: linear-gradient(0deg, #55c273, #6981c7);
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	
	.social-media-icon {
		transition: all .2s ease-in-out;
	}

	.social-media-icon:hover {
		transform: scale(1.1);
	}

	.waving-emoji {
		display: inline-block;
		position: relative;
		/* transform-origin: 70% 70%; */
	}

	.welcome-msg:hover .waving-emoji{
		animation-name: waving-animation;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}

	@keyframes enlarge-icon {

	}

	@keyframes waving-animation {
		0% {
			transform: rotate(0.0deg)
		}
		10% {
			transform: rotate(14.0deg)
		}
		20% {
			transform: rotate(-8.0deg)
		}
		30% {
			transform: rotate(14.0deg)
		}
		40% {
			transform: rotate(-4.0deg)
		}
		50% {
			transform: rotate(10.0deg)
		}
		60% {
			transform: rotate(0.0deg)
		}
		100% {
			transform: rotate(0.0deg)
		}
	}
</style>
